.st-parent{
    display: flex;
    height:100dvh;
    align-items: center;
    justify-content: center;
    background-color: papayawhip;
}
.st-container{
    
    background-color: white;
    padding: 15px;
}